$primary-color: #2d71ae;

$brand-color2: #83A5C8;
$brand-color3: #D7E7F8;
$brand-color4: #F9FCFF;
$brand-color5: #FFBE84;

$primary-orange: #FF9E30;
$primary-pink: #E27A7A;

$text-primary: #202020;
$text-gray: #a1a1a1;
$text-white: #fff;

$color-another: #263238
